.topPad {
  height: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.8em;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1em;
    margin-top: 2.5em;
    h2 {
      line-height: 1.1em;
      letter-spacing: 1.2px;
      padding: 0 0.5em;
      font-size: 1.3em;
      &::after {
        display: block;
        content: " ";
        height: 4px;
        border-radius: 3px;
        text-align: center;
        width: 80%;
        margin-left: 1em;
        margin-top: 0.8em;
        margin-bottom: 1em;
        background-color: $accent;
      }
    }
    p {
      font-size: 0.8em;
      font-weight: 300;
      line-height: 1.2em;
      padding: 0 1em 0 1em;
      margin-bottom: 1em;
      letter-spacing: 1.3px;
      color: $text;
    }
  }
  .skills {
    display: flex;
    flex-direction: column;

    .dodecahedronBox {
      display: flex;
      height: 11em;
      overflow: hidden;
      .spacer {
        width: 40%;
      }
    }
    .hexagonBox {
      font-size: 15px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 1em 0 2em 0;
      height: 30%;
      width: 100%;
      .top {
        display: flex;
      }
      .bottom {
        display: flex;
        transform: translateY(-0.7em);
      }
    }
  }
}

@media only screen and (min-width: 425px) {
  .container {
    align-items: center;
    justify-content: center;
    width: 80%;
    min-width: 400px;
    .content {
      p {
        padding: 0 1.2em;
      }
    }
    .skills {
      .hexagonBox {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 550px) {
  .container {
    .skills {
      .hexagonBox {
        font-size: 25px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    .content {
      padding-right: 15%;
    }
    .skills {
      .hexagonBox {
        font-size: 28px;
      }
    }
  }
}
@media only screen and (min-width: 1350px) {
  .topPad {
    height: 20px;
  }
  .container {
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    margin-right: 15%;
    .content {
      padding-right: 0;
      padding: 0 1em;
      margin-top: 1em;
      width: 50%;
    }
    .skills {
      .dodecahedronBox {
        height: 14em;
      }
      .hexagonBox {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    margin-right: 10%;
    font-size: 0.9em;
    .content {
      margin-top: 1.5em;
    }
    .skills {
      .dodecahedronBox {
        height: 15em;
      }
      .hexagonBox {
        font-size: 27px;
      }
    }
  }
}

@media only screen and (min-width: 1750px) {
  .topPad {
    height: 40px;
  }
  .container {
    font-size: 1em;
    .content {
      height: 100%;
      margin-top: 2.5em;
      p {
        padding: 0 3em 0 2em;
      }
    }
    .skills {
      width: 50%;
      height: 100%;
      .dodecahedronBox {
        display: flex;
        height: 16em;
      }
      .hexagonBox {
        font-size: 35px;
      }
    }
  }
}
