.containerTop {
  position: absolute;
  height: 7em;
  width: 100%;
  overflow: hidden;
  top: 0;
  .wedgeTop {
    position: relative;
    background-color: $primary;
    height: 140%;
    width: 160%;
    left: -10%;
    top: -85%;
    transform: rotate(356deg);
  }
}
