.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin: 0.2rem 0;
  padding: 0 0.4rem;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgb(119, 119, 119);
  background-color: $primary;
  color: white;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background-color: $secondary;
    box-shadow: 2px 2px 4px $primary;
  }
  &:focus {
    border: none;
    outline: $accent;
  }
  span {
    padding: 0.4em 0.5em 0.4em 0.5em;
  }
  i {
    margin-top: 2px;
  }
}
