.titleBox {
  display: none;
  cursor: default;
  box-sizing: border-box;
}

.primary {
  &:hover {
    color: $primary;
  }
}

.secondary {
  &:hover {
    color: $secondary;
  }
}

.tertiary {
  &:hover {
    color: $tertiary;
  }
}

@media only screen and (min-width: 1000px) {
  .left {
    transform: rotate(270deg) translate(-30%, -200%);
    left: 0;
    justify-content: flex-end;
  }

  .right {
    transform: rotate(90deg) translate(30%, -200%);
    justify-content: flex-start;
    right: 0;
  }

  .titleBox {
    display: flex;
    font-size: 120%;
    position: relative;
    width: 100%;
    height: 10px;
    z-index: 1;
    span {
      position: absolute;
      display: flex;
      align-items: center;
      color: $textLight;
      top: 6em;
      width: 40%;
      min-width: 700px;
      h1 {
        font-size: 3em;
        margin: 0;
        transition: color 0.3s, transform 0.3s;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .titleBox {
    span {
      min-width: 920px;
      h1 {
        font-size: 4em;
      }
    }
  }
}

@media only screen and (min-width: 2560px) {
  .titleBox {
    span {
      margin-top: 2em;
      min-width: 1200px;
      h1 {
        font-size: 5em;
      }
    }
  }
}
