.mobNav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  margin-top: 4px;
  li {
    margin: 0;
    padding: 0.6em 0;
    span {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 300;
      margin: 1px 0;
      padding: 0 10px;
      border-radius: 3px;
      height: 38px;
      color: white;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 97, 114);
  box-shadow: 0 2px 40px rgba(0, 217, 255, 0.2);
  opacity: 0.95;
  z-index: 999;
  height: 70px;
  width: 100%;
  animation: drop-down 0.5s, fade-in 0.5s;
}

.Fixed {
  height: 70px;
}

.logo {
  display: none;
}

.closed {
  height: 60px;
  animation: close-menu 0.2s ease-out;
}

.open {
  height: 100%;
  animation: open-menu 0.5s;
}

.Container {
  position: absolute;
  top: 14px;
  right: 20px;
  width: 40px;
  height: 35px;
}

.Hamburger {
  position: relative;
  top: 15px;
  left: 2px;
  content: " ";
  display: block;
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 3px;
  animation: close-middle 0.1s;
}

.Hamburger::before {
  position: absolute;
  top: -10px;
  right: 0px;
  content: " ";
  display: block;
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 3px;
  animation: close-top 0.6s;
}

.Hamburger::after {
  position: absolute;
  top: 10px;
  right: 0px;
  content: " ";
  display: block;
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 3px;
  animation: close-bottom 0.6s;
}

.Hamburger.MenuOpen {
  position: relative;
  top: 15px;
  left: 2px;
  content: " ";
  display: block;
  background-color: white;
  width: 35px;
  height: 0px;
  animation: open-middle 0.1s;
}

.Hamburger.MenuOpen::before {
  position: absolute;
  top: 0px;
  right: 0px;
  content: " ";
  display: block;
  background-color: white;
  width: 35px;
  height: 3px;
  animation: open-top 0.6s;
  transform: rotate(45deg);
}

.Hamburger.MenuOpen::after {
  position: absolute;
  top: 0px;
  right: 0px;
  content: " ";
  display: block;
  background-color: white;
  width: 35px;
  height: 3px;
  transform: rotate(315deg);
  animation: open-bottom 0.6s;
}

.Hide {
  height: 0;
  animation: fade-out 0.3s;
}

.None {
  display: none;
}

@keyframes drop-down {
  0% {
    height: 0;
  }
  100% {
    height: 70px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    height: 60px;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}

@keyframes open-menu {
  0% {
    height: 60px;
  }
  100% {
    height: 100%;
  }
}

@keyframes close-menu {
  0% {
    height: 100%;
  }
  100% {
    height: 60px;
  }
}

@keyframes open-middle {
  0% {
    height: 3px;
  }
  100% {
    height: 0;
  }
}

@keyframes open-top {
  0% {
    transform: rotate(0);
    top: -10px;
  }
  50% {
    top: 0;
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes open-bottom {
  0% {
    transform: rotate(0);
    top: -10px;
  }
  50% {
    top: 0;
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes close-middle {
  0% {
    height: 0px;
  }
  100% {
    height: 3px;
  }
}

@keyframes close-top {
  0% {
    transform: rotate(45deg);
    top: 0px;
  }
  25% {
    transform: rotate(0);
    top: 0px;
  }
  100% {
    top: -10px;
  }
}
@keyframes close-bottom {
  0% {
    transform: rotate(-45deg);
    top: 0px;
  }
  25% {
    transform: rotate(0);
    top: 0px;
  }
  100% {
    top: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .logo {
    margin-top: -3px;
  }
}

@media only screen and (min-width: 993px) {
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 1em;
    padding: 4px;
    border-radius: 3px;
  }

  .standardNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 85%;
    max-width: 1300px;

    ul {
      display: flex;
      li {
        padding: 0.2em 1em;
        color: white;
        cursor: pointer;
        border-radius: 3px;
        transition: background-color 0.3s ease-out, color 0.3s ease-out;
        &:hover {
          background-color: $tertiary;
          color: rgb(0, 67, 78);
        }
        span {
          font-size: 80%;
          font-weight: 500;
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .logo {
    font-size: 80%;
  }
  .standardNav {
    ul {
      li {
        span {
          font-size: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .standardNav {
    ul {
      li {
        margin: 0 5px;
      }
    }
  }
}

@media only screen and (min-width: 2560px) {
  .logo {
    font-size: 3.5rem !important;
    margin-top: 5px;
  }

  .Menu,
  .Fixed {
    div {
      height: 80px;
    }
  }

  .standardNav {
    ul {
      li {
        margin: 0 10px;
        a {
          font-size: 1.8rem;
          font-weight: 300;
          margin-top: 5px;
        }
      }
    }
  }

  @keyframes drop-down {
    0% {
      height: 0;
    }
    100% {
      height: 80px;
    }
  }
}
