.containerTop {
  position: absolute;
  height: 7em;
  width: 100%;
  overflow: hidden;
  top: 0;
  .wedgeTop {
    position: relative;
    background-color: $primary;
    height: 140%;
    width: 160%;
    left: -10%;
    top: -85%;
    transform: rotate(356deg);
  }
}

.left {
  background-color: $bgWhite;
}

.right {
  background-color: $bgWhite;
}
.projectBuffer {
  padding-top: 125px;
}

.projectWrapper {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 80%;
  margin: 0.5em 0;
  width: 80%;
  min-width: 280px;
  max-width: 650px;
  .projectText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -30px;
    padding: 0.5em 0;
    .projectTitles {
      text-align: center;
      margin-bottom: 0.5em;
      padding: 0.3em 0.1em;
      h2 {
        color: $text;
        padding: 0.1em;
      }
      h3 {
        padding: 0.1em;
        font-weight: 300;
      }
      .mobileImage {
        width: 96%;
        margin: 0.5em 2%;
        box-shadow: 0px 0px 4px $textLight;
        img {
          width: 100%;
        }
      }
    }
    .projectDescription {
      color: $text;
      padding: 0 1em 2em 1em;
      text-align: center;
      font-size: 0.7em;
      font-weight: 300;
      line-height: 1.5em;
    }
    .buttons {
      display: flex;
      justify-content: space-around;
      width: 85%;
      min-width: 300px;
      button {
        font-size: 0.7em;
      }
    }
  }
  .projectImage {
    display: none;
    margin: 2em 1em 1em 1em;
    width: 50%;
    box-shadow: 0px 0px 4px $textLight;
    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 600px) {
  .projectWrapper {
    .projectText {
      .buttons {
        width: 100%;
        max-width: 350px;
        button {
          font-size: 0.8em;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .projectWrapper {
    font-size: 100%;
    width: 80%;
    margin-right: 20%;
    .projectText {
      margin-top: 0;
      .buttons {
        width: 100%;
        max-width: 400px;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .projectBuffer {
    padding-top: 110px;
  }

  .projectWrapper {
    flex-direction: row;
    margin: 1em 0;
    margin-right: 10%;
    width: 80%;
    max-width: 1920px;
    .projectText {
      width: 50%;
      padding: 1em 0;
      .projectTitles {
        padding: 0.3em 0;
        .mobileImage {
          display: none;
        }
      }
      .projectDescription {
        padding: 0 3em 2em 3em;
      }
      .buttons {
        width: 70%;
        max-width: 430px;
      }
    }
    .projectImage {
      display: flex;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .containerTop {
    height: 9em;
  }

  .projectBuffer {
    padding-top: 140px;
  }
  .projectWrapper {
    font-size: 120%;
    .projectText {
      .buttons {
        max-width: 500px;
      }
    }
  }
}
